<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" src="/css/styles.css">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/new">
            <h1>Send a Message!</h1>
            <label for="user">From:</label>
            <input type="text" name="user" id="user">
           
            <label for="message">Text here:</label>
            <input type="text" name="message" id="message">
           
            <button type="submit" class="messageButton">submit</button>
        </form>
</body>
</html>